<!DOCTYPE html />
<html>
<head>
	<meta charset="utf-8" />
	<title>Sample HTML</title>
</head>
<body>
	<h1>サンプル</h1>
	<div>本文も入れてみた</div>
	<div>もうひとつ文を追加した</div>
	<script type="text/javascript"></script>
</body>
</html>